.navBar{
    display: flex;
    background-color: DodgerBlue;  
}

.navBar > div{
    height: 100px;
    width: 300px;
    
    text-align: center;
    border: solid;
       
}

.navBar > div > p{
    height: auto;
    width: auto;
    background-color: blue;
    border: solid;
     
}

.navBar > div > input{
    height: auto;
    width: 200px;
    background-color: white;
    text-align: center;
    border: solid;
       
}


.dropdown{
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px
}

.dropdown > ul{
    display: none;
    position: absolute;
    

}

.container1{
    display: flex;
    background-color: blue;
}

.container1 > div{
    height: 600px;
    width: 100%;
    
    text-align: center;
    border: solid;
       
}

.container2{
    display: flex;
    background-color: blueviolet;
}

.container2 > div{
    height: 250px;
    width: 100%;
    
    text-align: center;
    border: solid;
       
}

.container3{
    display: flex;
    background-color: plum;
}

.container3 > div{
    height: 500px;
    width: 50%;
    
    text-align: center;
    border: solid;
       
}

.footer{
    display: flex;
    background-color: DodgerBlue;  
}

.footer > div{
    background-color: #f1f1f1;
    width: 30%;
    margin:25px;
    padding: 20px;
    font-size: 30px
    
       
}